@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.namesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    padding: 30px;
    font-family: 'roboto';
    text-decoration: underline;
}

.search {
    padding: 5px;
    font-family: 'ubuntu mono';
    width: 400px;
}

.listItems {
    padding: 20px;
    list-style: none;
    font-family: 'ubuntu mono';
}

.listItemsName {
    padding: 4px;
}

.listItemsName {
    border: 1px solid grey;
    width: 500px;
    background-color: aliceblue;
}

.box::-webkit-scrollbar {
    display: none;
}